{% extends 'layout.html' %}

{% block content %}

    <div class="container">

            <div class="row">
                {% if current_user.is_authenticated %}
                    <a class="btn btn-info" href="{{ url_for('plants.edit_plant', plant_id=plant.id) }}" class="btn" role="button">Edytuj</a>
                {% endif %}
            </div>


        <div class="row">
            <div class="col-6" style="max-width: 100px;">
                <img src="{{ plant.image }}" alt="{{ plant.polish_name }}">
            </div>

            <div class="col-4">

                {% if plant.polish_name %}<p>{{ plant.polish_name }} {% endif %}
                {% if plant.latin_name %}<p>{{ plant.latin_name }} {% endif %}
                {% if plant.light_level %}<p>{{ plant.light_level }} {% endif %}
                {% if plant.light_description %}<p>{{ plant.light_description }} {% endif %}
                {% if plant.water_level %}<p>{{ plant.water_level }} {% endif %}
                {% if plant.water_description %}<p>{{ plant.water_description }} {% endif %}
                {% if plant.temperature %}<p>{{ plant.temperature }} {% endif %}
                {% if plant.soil %}<p>{{ plant.soil }} {% endif %}
                {% if plant.fertilizing %}<p>{{ plant.fertilizing }} {% endif %}
                {% if plant.transplanting %}<p>{{ plant.transplanting }} {% endif %}
                {% if plant.multiplication %}<p>{{ plant.multiplication }} {% endif %}

            </div>
        </div>
    </div>


{% endblock content %}