{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        {% if current_user.is_authenticated %}
            <div class="row">
                <a href="{{ url_for('plants.add_plant') }}">Dodaj Roślinę</a>
            </div>
        {% endif %}
        <div class="row mt-4">
            {% for plant in plants %}
                <div class="col-4 card" style="width: 18rem;">
                    <div class=" plant_icon">
                        <img class="card-img-top mt-3 plant_icon_img" src="{{ plant.image }}" alt="Card image cap">
                    </div>
                <div class="card-body">
                    <p class="card-text">{{ plant.polish_name }}</p>
                </div>
                </div>
            {% endfor %}
    </div>
    </div>

{% endblock content %}