{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div class="row card mt-4 text-dar">
            <div class="navbar card-header h6">
                <div>
                    <b>{{ plant.polish_name }}</b>
                    {% if plant.latin_name %}<i>{{ plant.latin_name }}</i>{% endif %}
                </div>
                <div>
                    <a class="btn btn-outline-info justify-content-end"
                       href="#">Dodaj do swoich
                    </a>
                    {% if current_user.is_authenticated %}
                        <a class="btn btn-outline-info justify-content-end"
                           href="{{ url_for('plants.edit_plant', plant_id=plant.id) }}">Edytuj
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="card-body">
                <div class="card-text h3 row">
                    <div class="col-5">
                        <img class="card-img-top plant_icon pl-2"
                             style="width: auto; height: auto; max-height: 400px; max-width: 400px"
                             src="{{ plant.image }}" alt="Card image cap">
                        <div class="card-text text-center pt-4">
                            <div>
                                {% for sun in range(plant.light_level) %}
                                    <i class="fas fa-sun level-icon level-icon-sun"></i>
                                {% endfor %}
                                {% for sun in range(3 - plant.light_level) %}
                                    <i class="fas fa-sun level-icon level-icon-grey"></i>
                                {% endfor %}
                            </div>
                            <div class="mt-2">
                                {% for sun in range(plant.water_level) %}
                                    <i class="level-icon level-icon-tint fas fa-tint "></i>
                                {% endfor %}
                                {% for sun in range(3 - plant.water_level) %}
                                    <i class="fas fa-tint level-icon level-icon-grey"></i>
                                {% endfor %}
                            </div>
                            <div class="text-center mt-4" >
                                {% if plant.spray == True %}
                                    <img src="/static/img/sprayer-green.png" class="">
                                {% else %}
                                    <img src="/static/img/sprayer-grey.png" class="">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-7">
                        {% for data, label in [
                            (plant.light_description, 'Stanowisko'),
                            (plant.water_description, 'Podlewanie'),
                            (plant.temperature, 'Temperatura'),
                            (plant.soil, 'Podłoże'),
                            (plant.fertilizing, 'Nawożenie'),
                            (plant.transplanting, 'Przesadzanie'),
                            (plant.multiplication, 'Rozmnarzanie')
                        ] %}
                            {% if data %}
                                <div class="card mb-3 text-dar">
                                    <div class=" card-header h5">
                                        {{ label }}
                                    </div>
                                    <div class="card-body card-text h6">
                                        {{ data }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}