{% extends 'layout.html' %}

{% block content %}
    <div class="container">

        <div class="row">
            {% if current_user.is_authenticated %}
                <a class="btn btn-info" href="{{ url_for('plants.add_plant') }}">Dodaj Roślinę</a>
            {% endif %}
        </div>

        {% for plant in plants %}
            <div class="card mt-4">
                <div class="card-body">
                    <img class="card-img-top mt-3 plant_icon" style="width: auto; height: 250px" src="{{ plant.image }}" alt="Card image cap">
                    <p class="card-text">{{ plant.polish_name }}</p>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock content %}