body{
    font-family: 'Quicksand', sans-serif;
}

main {
    min-height: 400px;
}

.green {
    color: forestgreen !important;
}

.card-link {
    text-decoration: none;
    color: black;
    font-size: 18px;
}.card-link:hover {
    text-decoration: none;
    color: rgba(97, 97, 97, 0.87);
    font-size: 20px;
}

.level-icon {
    height: 29px;
    width: 29px;
    text-align: center;
}
.level-icon-sun {
    color: #ffe140;
}
.level-icon-tint {
    color: deepskyblue;
}
.level-icon-grey {
    color: lightgrey;
}