body{
    font-family: 'Quicksand', sans-serif;
}
main {
    min-height: 1000px;
}

.bg {
    background-image: url("../img/background.jpg");
}

.green {
    color: forestgreen !important;
}

.card-link {
    text-decoration: none;
    color: black;
    font-size: 18px;
}.card-link:hover {
    text-decoration: none;
    color: #616161;
    font-size: 20px;
}
.plant-icon {
    height: auto;
    width: auto;
    max-height: 200px;
    max-width: 200px;
}

.level-icon {
    height: 29px;
    width: 29px;
    text-align: center;
}
.level-icon-sun {
    color: #ffe140;
}
.level-icon-tint {
    color: deepskyblue;
}
.level-icon-grey {
    color: lightgrey;
}