main {
    min-height: 400px;
}

/*.plant_icon {*/
    /*height: 300px;*/
    /*width: 300px;*/
/*}*/
.plant_icon_img {
    position: absolute; clip: rect
}

.green {
    color: forestgreen !important;
}