{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE html>
<html lang="pl">
{% block head %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
{% endblock head %}

{% block body %}
<body>
<div class="wraper">
    {% block navbar %}
        <nav>

        </nav>
    {% endblock navbar %}

    {% block content%}
    {% endblock content %}

    {% block footer %}
        <footer>
        </footer>
    {% endblock footer %}
</div>
</body>
{% endblock %}
</html>